<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <footer>
    <h4>Created By {{ name }} Copyright &copy; 2019 </h4> 
     {{!-- name --> pull out ดึงมาจากเพจที่มีการส่ง object ตัวนี้มา(ดูจาก app.js) ถ้าเพจไหนไม่มีก็จะไม่แสดง --}}
    </footer>
</body>
</html>