
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- forward slash / = it's mean goto root folder จากไฟล์ app.js เราได้ set ค่าเริ่มต้นทำงานใน folder public -->
    <title>HELP</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p><span style="font-size: 3rem;">B</span>{{ msg }}</p>
    </div>

    {{>footer}}

</body>
</html>